@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=Outfit:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Outfit', sans-serif;
}
